:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --transition-duration: 0.3s;
}

/* start box */
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.f-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.d-grid {
  display: grid;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.d-block {
  display: block;
}
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}

.h-full {
  height: 100%;
}

@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .only-mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
}
/* end box */

/* start position */
.p-relative {
  position: relative;
}
/* end position */

/* start color */
.bg-white {
  background-color: white;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-eee {
  background-color: #eee;
}
.bg-grey {
  background-color: var(--grey-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-red {
  background-color: var(--red-color);
}
.bg-green {
  background-color: var(--green-color);
}
.c-black {
  color: black;
}
.c-white {
  color: white;
}
.c-grey {
  color: var(--grey-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-red {
  color: var(--red-color);
}
.c-green {
  color: var(--green-color);
}
.b-blue {
  border-color: var(--blue-color);
}
.b-orange {
  border-color: var(--orange-color);
}
.b-green {
  border-color: var(--green-color);
}
/* end color */

/* start padding + margin */
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pl-15 {
  padding-left: 15px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.m-0 {
  margin: 0;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-auto {
  margin-right: auto;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-auto {
  margin-left: auto;
}
/* start padding + margin */

/* start fonts */
.txt-c {
  text-align: center;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-25 {
  font-size: 25px;
}
.fw-bold {
  font-weight: bold;
}
.fw-normal {
  font-weight: normal;
}
.txt-trans-u {
  text-transform: uppercase;
}
.txt-trans-c {
  text-transform: capitalize;
}
.txt-trans-l {
  text-transform: lowercase;
}

@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
/* end fonts */

/* start border */
.border-ccc {
  border: 1px solid #ccc;
}
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-half {
  border-radius: 50%;
}
.b-none {
  border: none;
}
.border-ccc {
  border: 1px solid #ccc;
}
/* end border */

/* start button */
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
/* end button */

/* start components */

/* start toggle checkbox */
.toggle-checkbox {
  appearance: none;
  display: none;
}
.toggle-switch {
  position: relative;
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  transition: var(--transition-duration);
  cursor: pointer;
}
.toggle-switch::before {
  content: "\f00d";
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  font-size: 12px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 4px;
  top: 4px;
  background-color: white;
  color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: var(--transition-duration);
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  color: var(--blue-color);
  left: 50px;
}

@media (max-width: 767px) {
  .toggle-switch {
    width: 66px;
    height: 20px;
  }
  .toggle-switch::before {
    /* top: 3px; */
    width: 12px;
    height: 12px;
    font-size: 8px;
  }
  
}

/* end toggle checkbox */

/* end components */
